#Objective {
    margin-left: 28px;
    font-weight: 100;
    font-size: 14px;
    flex-wrap: wrap;
    width: 500;
    border : 2px solid #fff;
}


#Obj {
     margin-top : 20px;
     text-align: left;
     width: 530px;
     height:60px;
    
}

#Objective:hover{
    border : 2px solid red;
    cursor: pointer;
}

#link{
    color: black;
    text-decoration: unset;
}

@media (max-width : 1000px){
     
    #Obj{
        width: 100px;
    }
}