#Certificate {
    margin-left: 28px;
    font-weight: 100;
    font-size: 14px;
}
#heading-Certificate{
    font-size: 20px;
    margin-right: 433px;
    font-weight: 130;
    font-family: 'Bitter' , 'Serif';
}

#Cer {
     margin-top : 60px;
     text-align: left;
     border : 2px solid #fff;
}

#Cer:hover{
    border : 2px solid red;
    cursor: pointer;
}

#link{
    color: black;
    text-decoration: unset;
}

@media (max-width : 1000px){
     
    #Cer{
        width: 100px;
    }
}
